<div class="row">
    <div class="col-md-10">
        <h1><%= @language.name %> | <%= number_to_human(@language.average_rating) %> <span class="glyphicon glyphicon-star"></span></h1>
        <p><strong>Frameworks built on <%= @language.name %>:</strong> <%= @language.frameworks.pluck(:name).uniq.join(", ") %></p>
        <h4><strong>Description:</strong> <%= @language.description %></h4>
    </div>
    <div class="col-md-2">
        <h3>Options:</h3>
        <%= edit_and_delete_links_for(@framework) %>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h2>Libraries</h2>
    </div>
    <%= render partial: 'layouts/item_col_display', collection: @language.libraries, :as => :record %>
</div>