<div class="row">
    <div class="col-md-10">
        <h1>
            <%= @library.name %> | <%= number_to_human(@library.average_rating) %> <span class="glyphicon glyphicon-star"></span>
        </h1>
        <%= content_tag(:h4, ("version: #{@library.version}" if @library.version)) %>
        <h4>
            <%= pluralize(@library.vote_count, "vote") %> | <%= pluralize(@library.comment_count, "comment") %>
        </h4>
        <h3><b>Description:</b></h3>
        <p><%= @library.description %></p>
    </div>
    <div class="col-md-2">
        <h3>Details: </h3>
        <p>
            <%= link_to "Documentation", @library.documentation_url, class: "a-block" if @library.documentation_url%>
            <%= link_to "Project page", @library.library_url, class: "a-block" if @library.library_url %>
            Language: <%= link_to(@library.language.name, language_path(@library.language)) %><br/> 
            Framework: <%= link_to(@library.framework.name, framework_path(@library.framework)) %>
        </p>
        <%= edit_and_delete_links_for(@library) %>
    </div>
</div>
<hr>
<% if @library.comment_count > 0 %>
<h2>Comments</h2>
<h5><%= link_to "all reviews", library_reviews_path(@library) %></h5>
<ul>
    <%= render partial: 'reviews/review_li', collection: @library.comments, as: :review %>
</ul>
<% end %>

<% if user_signed_in? %>
    <h3>Create Comment</h3>
    <%= render partial: 'reviews/inline_form', locals: {lib: @library, review: @comment} %>
<% end %>