<div class="row">
    <div class="col-md-10">
        <h1><%= @framework.name %> | <%= number_to_human(@framework.average_rating) %> <span class="glyphicon glyphicon-star"></span></h1>
        <p><strong>Built with:</strong> <%= @framework.languages.pluck(:name).uniq.join(", ") %></p>
        <h4><strong>Description:</strong> <%= @framework.description %></h4>
    </div>
    <div class="col-md-2">
        <h3>Options:</h3>
        <%= edit_and_delete_links_for(@framework) %>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h2>Libraries <a href="#" id="load_libs">Load</a></h2>
    </div>
    <div id="libs">
    
    </div>
</div>
