<div class="jumbotron">
    <h1>LibShare</h1>
    <h3>The <em>#10</em> source for all your library searching and sharing needs</h3>
    <%= button_to "Sign up", new_user_registration_path, method: :get, class: "btn btn-primary" unless user_signed_in? %>
</div>

<div class="row">
    <h1>Most Popular Frameworks <%= link_to "More...", frameworks_path, class: "right-link" %></h1>
    <%= render partial: 'layouts/item_col_display', collection: @top_frameworks, :as => :record %>
</div>
<div class="row">
    <h1>Most Popular Languages <%= link_to "More...", languages_path, class: "right-link" %></h1>
    <%= render partial: 'layouts/item_col_display', collection: @top_languages, :as => :record %>
</div>

<div class="row">
    <h1>Most Popular Libraries <%= link_to "More...", libraries_path, class: "right-link" %></h1>
    <%= render partial: 'layouts/item_col_display', collection: @top_libraries, :as => :record %>
</div>